################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyConsoleTest/MyConsoleTest/obj
/MyConsoleTest/MyConsoleTest/bin/Debug/netcoreapp2.1
/MyConsoleTest/.vs/MyConsoleTest/v15/Server/sqlite3
/.vs/Test/v15
/.vs
